 body {
    background-color: #1D2025;
}

.logo {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron {
    display: flex;
    background-color: #1D2025;
    color: #E2F6FF;
    align-items: center;
    width: 100%;
    padding-top: 25vh;
}

.jumbotronHeading {
    width: 50%;
    padding-right: 100px;
    margin-left: 50px;
}

.center {
    text-align: center;
    padding-top: 20px;
}

.btn-primary {
    background-color: #A54BFF;
    border: #A54BFF;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

.btn-primary:hover {
    background-color: #FF6DCE;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 50px;
}

.login-button {
    background-color: #A54BFF;
    border: #A54BFF;
    color: #F4F4F4;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.login-button:hover {
    background-color: #FF6DCE;
    border: #FF6DCE;
}
.login {
    position: absolute;
    right: 50px;
}


.uploadImg {
    padding: 50px;
}

.tutorial-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25vh;
    vertical-align: middle;
}

.uploadHeading {
    padding: 50px;
    height: auto;
    width: 500px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight:bold !important;
    color: #F4F4F4;
    font-size: large;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight:bold !important;
    color: #F4F4F4;
    font-size: 40px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight:bold !important;
    color: #F4F4F4;
}

p {
    font-family: font-family: 'Open Sans', sans-serif;;
    color: #F4F4F4;
    font-size: 20px
}

.hiliteText {
    margin-top: 0;
    padding-right: 5px;
}

.navigation {
    border-bottom: solid 0.1px  rgb(165, 75, 255);
    width: 100%
}

.graphic {
    text-align: center;
}

.start-sharing {
    background-image: url("../images/screen-collage-edit-2.png");
    background-size: 1500px;
    background-position: center;
    height: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
}

.footer {
    border-top: solid 0.1px  rgb(165, 75, 255);
    width: 100%;
}

.purple {
    color: #A54BFF;
}

.padding-bottom {
    padding-bottom: 25vh;
}

/* Mobile Layout */

@media screen and (max-width: 768px) {

    .jumbotron {
        display:inline-block;
        width: 100%;
        height: auto;
        margin-left: 5px;
        margin-right: 5px;
        vertical-align: middle;
        padding-top: 10vh;
    }

    .jumbotronHeading {
        display: block;
        width: 100%;
        padding: 0;
        margin-left: 5px;
    }

    .tutorial-1 {
        width: 100%;
        display: block;
        vertical-align: middle;
        padding-top: 10vh;

    }

    .container {
        display: block;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
       text-align: center;
    }

    .login {
        position: inherit;
        text-align: center;
    }

    .navigation {
        width: 100%;
        border-bottom: none;
    }

    .uploadHeading {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .uploadImg {
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10vh;
        vertical-align: middle;
        
    }

    .upload {
        text-align: center;
        width: 100%;
        height: auto;
    }

    .start-sharing {
        width: 100%;
        height: auto;
        margin: 0;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .hiliteVideo {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }

    .hiliteReel {
        width: 100%;
    }

    #reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .btn-primary {
        margin-top: 10px;
    }
 
    footer {
        margin-bottom: 20px;
    }
}